@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&display=swap');



/* GLOBAL*/
:root {
    font-size: 1.3em;
}

#app{
    background-color: #0000001c;
    min-height: 100vh; 
    margin: 0; 
    font-family: 'Lato', sans-serif;
    font-size:larger;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

html, body {
  font-family: 'Roboto', sans-serif;
}

.container{
    min-width:90%;
}


.welcomeImage{
    position:relative;
}
 .footer{ 
  min-height:50px; 
  margin-top: 30px;
}
input{
    text-indent:40px;
    min-width: 250px;
    max-width: 400px;
}
.input-wrapper {
    position: relative;
  }
  .input-icon {
    position: absolute;
    left: 20px;
    top: 50px;
    font-size: 25px;
  }
.accountImg{
    min-width: 400px;
}

.acount-box{
    max-width: 60%;
    margin: auto;
}

.dg-btn--cancel {
  color: #fefefe !important;
  background-color: #98459C !important;
}
.dg-btn--ok {
  color: #ffffff;
  background-color: #D6220E !important;
  border-color: #D6220E !important;
}